<section class="container app__main-section">
    <div class=row>
        <div class="col-sm-6 col-md-5 form-group">
            <input class="form-control" />
        </div>
        <div class="col-sm-3 col-md-2 form-group">
            <button class="btn btn-primary btn-block">Find</button>
        </div>
        <div class="col-sm-3 col-md-2 col-md-offset-3 form-group">
            <button class="btn btn-primary btn-block"><i class="fa fa-plus"></i> Add course</button>
        </div>
    </div>

    <div class="row course-list-item">
        <div class="col-sm-9 col-md-10">
            <div class=row>
                <div class="col-sm-9">
                    <h4>Video course 1<small>1h 28min</small></h4>
                </div>
                <div class="col-sm-3 course-list-item__date-layout">
                    <p>3/14/2017</p>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, at nobis aliquando scribentur usu, pri delectus oporteat constituto eu, in solet everti omittantur pro. Id clita vocent per, qualisque rationibus te duo. Nihil solet pri ne. Mel id porro libris atomorum, an duo dicat quando gloriatur, labore vidisse veritus sit at. Nec id quas debet, no cum tractatos consulatu dissentiet.</p>
        </div>
            <div class="col-sm-3 col-md-2 course-list-item__buttons-layout">
                <button class="btn btn-default btn-block">Edit course</button>
                <button class="btn btn-default btn-block">Delete</button>
            </div>
    </div>

    <div class="row course-list-item">
        <div class="col-sm-9 col-md-10">
            <div class=row>
                <div class="col-sm-9">
                    <h4>Video course 1<small>1h 28min</small></h4>
                </div>
                <div class="col-sm-3 course-list-item__date-layout">
                    <p>3/14/2017</p>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, at nobis aliquando scribentur usu, pri delectus oporteat constituto eu, in solet everti omittantur pro. Id clita vocent per, qualisque rationibus te duo. Nihil solet pri ne. Mel id porro libris atomorum, an duo dicat quando gloriatur, labore vidisse veritus sit at. Nec id quas debet, no cum tractatos consulatu dissentiet.</p>
        </div>
            <div class="col-sm-3 col-md-2 course-list-item__buttons-layout">
                <button class="btn btn-default btn-block">Edit course</button>
                <button class="btn btn-default btn-block">Delete</button>
            </div>
    </div>

    <div class="row course-list-item">
        <div class="col-sm-9 col-md-10">
            <div class=row>
                <div class="col-sm-9">
                    <h4>Video course 1<small>1h 28min</small></h4>
                </div>
                <div class="col-sm-3 course-list-item__date-layout">
                    <p>3/14/2017</p>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, at nobis aliquando scribentur usu, pri delectus oporteat constituto eu, in solet everti omittantur pro. Id clita vocent per, qualisque rationibus te duo. Nihil solet pri ne. Mel id porro libris atomorum, an duo dicat quando gloriatur, labore vidisse veritus sit at. Nec id quas debet, no cum tractatos consulatu dissentiet.</p>
        </div>
            <div class="col-sm-3 col-md-2 course-list-item__buttons-layout">
                <button class="btn btn-default btn-block">Edit course</button>
                <button class="btn btn-default btn-block">Delete</button>
            </div>
    </div>

</section>
