<section class='container'>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6" #loginForm="ngForm" ngForm>
            <div class="form-group">
                <label for="userName">user name</label>
                <input type="text" class="form-control" id="userName" name="userName" ngModel placeholder="User name" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" ngModel placeholder="Password" required>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" (click)="login(loginForm)" [disabled]="loginForm.invalid" >Submit</button>
            </div>

            <div class="alert alert-danger" role="alert" [hidden]="!lastLoginFailed">
                User name or password are incorrect
            </div>
        </div>
    </div>
</section>