<loading-block></loading-block>

<courses-header (logoutRequested)="logout()"></courses-header>

<router-outlet></router-outlet>

<section class="container app__main-section" *ngIf="currentPage === pages.addCourse || currentPage === pages.editCourse || currentPage === pages.search">

    <course-create-page *ngIf="currentPage === pages.addCourse" (closed)="createPageClosed()"></course-create-page>

    <course-edit-page *ngIf="currentPage === pages.editCourse" [courseId]="courseId" (closed)="editPageClosed()"></course-edit-page>

    <courses-search-page *ngIf="currentPage === pages.search" (addCourseRequested)="addCourse()" (editCourseRequested)="editCourse($event)"></courses-search-page>

</section>

<courses-footer></courses-footer>
