<div class="row justify-content-center">
    <div class="col-lg-8">
        <form novalidate [formGroup]="courseForm">
            <h1>Add new course</h1>
            <div class="form-group row">
                <label for="title" class="col-sm-3 col-form-label text-sm-right">Title</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Title" formControlName="title">
                    <pre>{{courseForm.get('title').errors | json}}</pre>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-3">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" formControlName="isTopRated"> Top rated
                        </label>
                    <pre>{{courseForm.get('isTopRated').errors | json}}</pre>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="title" class="col-sm-3 col-form-label text-sm-right">Description</label>
                <div class="col-sm-9">
                    <textarea type="text" class="form-control" placeholder="Description" formControlName="description">
                    </textarea>
                    <pre>{{courseForm.get('description').errors | json}}</pre>
                </div>
            </div>

            <div class="form-group row">
                <label for="title" class="col-sm-3 col-form-label text-sm-right">Date</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" id="date" name="date">
                </div>
            </div>

            <div class="form-group row">
                <label for="title" class="col-sm-3 col-form-label text-sm-right">Duration (minutes)</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="duration" name="duration" placeholder="Duration">
                </div>
                <div class="col-sm-3">
                    <p class="form-control-static">{{courseData.duration | myDuration}}</p>
                </div>
            </div>

            <div class="form-group row">
                <label for="title" class="col-sm-3 col-form-label text-sm-right">Authors</label>
                <div class="col-sm-9">
                    <p class="form-control-static text-muted">Skipped</p>
                </div>
            </div>

            <!--<div class="form-group row">
                <div class="col-sm-9 offset-sm-3">
                    <pre>{{courseData | json}}
                    </pre>
                </div>
            </div>-->

            <div class="form-group"> 
                <pre>{{courseForm.value | json}}</pre>
            </div>


            <div class="form-group row">
                <div class="col-sm-9 offset-sm-3">
                    <button class="btn btn-primary" (click)="save(newCourse)">
                        Save course
                    </button>
                    <button class="btn btn-secondary" (click)="cancel()">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>