 /* Small Devices, Tablets */
 .course-list-item{
     padding-top: 10px;
     margin-bottom: 20px;

    &__star{
        color: gold;
    }

    &__top-rated{
        background-color: #fffdf4;
    }

    &__duration{
        margin-left: 1em;
    }
 }

@media only screen and (min-width : 768px) {

    .course-list-item{
        &__date-layout{
            text-align: right;
            padding-top: 10px;
        }

        &__buttons-layout{
            padding-top: 3px;
        }
    }

}

